<div class="bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-3"><h3 class="display-6 header-title-1">Reservation List</h3></div>
            <div class="col-md-6">
                <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </small></p>
            </div>
            <div class="col-md-2">
                <a href="/contact-component" class="btn btn-secondary my-2">Create Reservation</a>         
            </div>
        </div>      
    </div>
  </div>

  <!-- <app-contact-list></app-contact-list> -->